.command span {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0;
    border : 1px solid black;
    font-size: 1em;
}

.command button {
    display: inline-block;
    padding: 0.5em;
    margin: 0;
    border : 1px solid black;
    font-size: 1em;
}


